
<html>
<nav>
					<div class="nav-wrapper">
				      <a href="#" class="brand-logo"><img src="assets/imagenes/images3.jpg" style="width: 160px; height: 65px;" ></a>
				      <ul id="nav-mobile" class="right hide-on-med-and-down">
				      <li><a href="quienessomos.html">Quienes Somos</a></li>
				      <li><a href="registro.html">Registro</a></li>
				    
				    </ul>
				      </div>

				</nav>


<img src="assets/imagenes/images4.jpg"style= "width:1350px;">

<div class="row">

      
      <div class="col s4">
		  		
				   <div class="row">
							<div class="col s12 m7">
							<div class="card"  style="width:400px; height: 100px;">
								<div class="card-image">
								<img src="assets/imagenes/images6.jpg" style="width: 400px; height: 150px;">
								<span class="card-title">Nuestros Sitios</span>
								</div>
								<div class="card-content">
								<p>La Isla de San Andrés (conocida también como San Andrés Isla)
							       es la más grande de las islas que forman parte del Archipiélago de San Andrés,
								   Providencia y Santa Catalina, siendo su extensión total de 26 km².2
								   Actualmente Colombia ejerce dominio sobre la isla, formando parte del único departamento insular del país.</p>
								</div>
								<div class="card-action">
								<a href="#">This is a link</a>
								</div>
							</div>
						</div>
					</div>

					

					  
					
		
      </div>

	 


      <div class="col s4">
		  			<div class="row">
							<div class="col s12 m7">
							<div class="card"  style="width: 400px; height: 100px;">
								<div class="card-image">
								<img src="assets/imagenes/images8.jpg">
								<span class="card-title">Nuestros Sitios</span>
								</div>
								<div class="card-content">
								<p>Amazonas es uno de los 32 departamentos de Colombia,
								   ubicado en la parte sur del país, en gran parte al sur de la línea ecuatorial.
								   Es el departamento colombiano más grande en cuanto a extensión territorial
								   y se compone en su totalidad de territorio de la Selva Amazónica.</p>
								</div>
								<div class="card-action">
								<a href="#">This is a link</a>
								</div>
							</div>
						</div>
					</div>
							
													
									
									
		</div>

	  <div class="col s4">

		  <h5>Ingrese sus Datos</h5>

		  <div class="row">
						<form class="col s12">
							<div class="row">
								<div class="input-field col s6">
									<input id="first_name" type="text" class="validate">
									<label for="first_name">Nombrre</label>
								</div>
								<div class="input-field col s6">
									<input id="last_name" type="text" class="validate">
									<label for="last_name">Apellido</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<input id="email" type="email" class="validate">
									<label for="email">Telefono</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<input id="email" type="email" class="validate">
									<label for="email">Direccion</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<input id="email" type="email" class="validate">
									<label for="email">Email</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<input id="email" type="email" class="validate">
									<label for="email">Comentarios</label>
								</div>
							</div>


							<button class="btn waves-effect waves-light" type="submit" name="action">Enviar
								<i class="material-icons right"></i>
							</button>


 							
						</form>
					</div>


	  </div>
      

	  

</div>

	

<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Encuentranos en:</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text"></h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Twiter</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="">More Links</a>
            </div>
          </div>
</footer>

</html>
            
            